<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Disney For All </p>
            <p> DFA is registered 501(c)3 non-profit organization. 100% of your donation is tax-deductible.</p>
        </div>
    </div>
</footer>   