
  
  p {
    color: black;

  }

  .aboutus {
    /* border: solid 3px gray; */
    margin-bottom: 100px;
    padding:30px;
    margin-top: 50px;
    background-color: white;
    opacity: .50;
    border-radius: 8px;
    /* margin-bottom: 40px; */
 
  }
  #about {
    /* background-image: url(../../public/assets/img/about5.jpg); */
    background-size: cover;
    background-attachment: fixed;
    margin-top:50px;
    min-height:700px;
}
.aboutheader {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.newAbout {
  padding-top: 30px;
  background-image: url(../../public/assets/img/about5.jpg);
  background-size: cover;
  background-attachment: fixed;
}