#familyTable {
  /* margin-left: 10%; */
  height: 100%;
  /* margin-top: 10%; */
  /* padding-bottom: 30%; */
  
  
}
#familyTable {
 
  /* background-image: url(../../public/assets/img/about5.jpg); */
  /* border: 3px solid black; */
  background-size: cover;
  background-attachment: fixed;
  padding-left: 20px;
  padding-right: 20px;
}

 td, th {
  border: 1px solid #ddd;
  padding: 100px;
  /* padding-bottom: 100px; */
}

/* th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
} */