#plans {
  /* margin-left: 10%; */
  height: 500px;
  margin-top: 10%;
  padding-bottom: 30%;
  padding-left: 5%;
  padding-right: 5%;
  
}

 td, th {
  border: 1px solid #ddd;
  padding: 100px;
  /* padding-bottom: 100px; */
}

/* th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
} */