#paypal-button-container{
  border:1px solid white;
  padding:20px;
  border-radius: 5px;
  width:400px;
  margin:0 auto;
  background-color: rgba(223, 232, 240, 0.664);
  box-shadow: 5px 10px 18px #888888;
  margin-bottom:100px;
}

.donation{
  background-image: url(../img/happy_girl.jpg);
  background-position: right;
  background-size: cover;
  position: relative;  
  background-attachment: fixed;
  margin-top:60px;
}

.donation h1, #paypal-button-container{
  margin-top:50px;
  color:white;
}

#paypal-button-container h3{
  margin-top:10px;
}

@media screen and (max-width: 640px) {
  .donation{
    background-position: center;
  }
}