.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


footer {
    font-family: "futura-pt",sans-serif;
    background: #424242;
    padding:20px 20px 10px;
    border-top: 8px solid#c59fc9;
}

footer p{
    font-size: 15px;
}

.fab{
    margin:5px;
    font-size:25px;
}




@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
