.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


footer {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background: #424242;
    padding: 40px 0;
    color: #FFF;
    position: relative;
    overflow: hidden;
    display:block;
}

footer p{
    font-size: 15px;
}





@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
