.modal-header {
    background-color: #c59fc9;

}

.modal-footer {
    background-color: 

}
.modal-title {
    text-align: center;
}

#modal-description {
    padding: 7px;
}

.modalButton {
    align-content: center;
}