.navbar{
 padding:1rem;
 background-color: #c59fc9!important;
}

.brand-logo {
  width: 20px;
  height: auto;
 
}
/* .navbar-brand {
  color: white;
} */

#navbarNav{
  justify-content: flex-end!important
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: .5rem;
}}
